@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Sora:wght@600 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cabeçalho*/

.cabecalho {
    margin-bottom: 80px;
}

.cabecalho__logo {
    width: 161.49px;
    height: 52px;
    margin-left: 50px;
    margin-top: 20px;
}

.botao--azul {
    background: #0000EE;
    color: white;
    border-radius: 50px;
    border-color: #0000EE;
    border-width: 2px;
    height: 46px;
    width: 199px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Sora';
}

.botao--azul:hover {
    color: #0000EE;
    background-color: white;
    border-color: #0000EE;
    border-width: 2px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 350ms;
}

/*parte apresentação*/
.apresentacao {
    display: flex;

}

.apresentacao__titulo {
    margin-top: 50px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
}

.apresentacao__paragrafo {
    font-family: Sora;
    color: #718897;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.sapium-business {
    color: #0000EE;
    font-weight: 600;
}

.divulgacao {
    padding: 50px;
    background-color: #F4F7FF;
    width: 100%;
}

.divulgacao__icone-verde {
    left: 270px;
    position: absolute;
    margin-top: 50px;
}

.paragrafo {
    color: #0000EE;
    font-weight: 500;
    margin-top: 60px;
    font-family: 'Sora';
    font-size: 14px;
    line-height: 21px;
}

.subparagrafo {
    font-size: 24px;
    font-weight: 600;
    font-family: Sora;
}

/* 
.atributos {
    width: 309px;
    height: 406px;
    top: 1077px;
    left: 461px;
    box-sizing: border-box;
    border-radius: 21px;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 3rem 0.75rem 0.75rem 1.5rem;
    
     
} */

.atributos {
    width: 309px;
    height: 406px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.botao_comecar {
    background-color: #F4F7FF;
    color: #0000EE;
    border-radius: 50px;
    border: none;
    height: 46px;
    width: 199px;
    font-size: 16px;
    font-family: Sora;
    margin-top: 200px;
}

.botao_comecar:hover {
    cursor: pointer;

}

.botao_comecar_agora1 {
    background-color: #F4F7FF;
    color: #0000EE;
    border-radius: 50px;
    border-color: #F4F7FF;
    height: 46px;
    width: 199px;
    font-size: 16px;
    font-family: Sora;
    margin-top: 20px;
}

.botao_comecar_agora1:hover {
    color: #0000EE;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    transition-duration: 350ms;
}

.divulgacao__icone--pai {
    width: 100%;

}

.divulgacao__ione {
    padding-left: 130px;

}

.divulgacao__ione2 {
    padding-left: 150px;
    margin-top: -50px;

}

.divulgacao__titulo {
    font-weight: 700;
    font-size: 16px;
    margin: 2rem auto 1.5rem;
    line-height: 1.5;
    max-width: 210px;
    font-family: 'Sora';

}

.divulgacao__paragrafo {
    font-family: 'Sora';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #718897;
}


.botao {
    display: flex;
    position: relative;

}

.icone__meia__lua--azul {
    max-width: 100%;
    max-height: 80px;
    left: 250px;
    top: 50px;
    position: absolute;

}

.divulgacao {
    margin-bottom: 100px;
}

.treinamento__icone {
    position: relative;
}

.treinamento__icone-verde-agua {
    left: 270px;
    position: absolute;
    margin-top: -70px;
}

.quadro-47 {
    margin-top: 50px;
}

.titulo-apresentacao-treinamento {
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'sora';
}

.paragrafo-apresentacao-treinamento {
    font-family: 'Sora';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #718897;
}

.grupo-64 {
    margin-top: 50px;
}


.icone-bola-verde {

    position: absolute;
    margin-top: -360px;
    right: 50px;
}

img {
    max-width: 100%;
    height: auto;
}


.roxa {
    padding: 20px;
    margin: 0px 100px;
    background: url(../assets/Rectangle\ 4209.png) center center no-repeat;
    margin-top: 200px;
    margin-bottom: 200px;
}

.titulo-apresentacao-treinamento1 {
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'sora';
    color: #ffff;
}

.paragrafo-apresentacao-treinamento1 {
    font-family: 'Sora';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #ffff;
}

.computadores {
    position: relative;
}

.elipse--158 {
    position: absolute;
    top: 50px;
    right: 10px;
}

.polygon--4 {
    position: absolute;
    bottom: -80px;
    right: 100px;
}

.teste__roxa {
    padding-bottom: 130px;
    padding-top: 130px;
}


.treinamento__faces {
    position: relative;

}

.group58 {
    position: absolute;
    top: -150px;
}

.group59 {
    position: absolute;
    right: 100px;
    bottom: -150px;
}

.frame {
    position: absolute;
    top: -100px;
    right: 180px;
}

.elepsi155 {
    position: absolute;
    left: -40px;
    top: -80px;
}

.group23 {
    position: absolute;
    bottom: -100px;
}

.estudos {
    background: linear-gradient(180deg, #E4ECFF 0%, rgba(244, 247, 255, 0) 100%);
    margin-top: 200px;
}

.estudos__estudo {
    padding-bottom: 100px;
    position: relative;
}

.elipse154 {
    position: absolute;
    right: 150px;
    top: -50px;
}

.estudos__estudo {
    padding-top: 100px;
}

.teste {
    padding-top: 130px;
    padding-bottom: 130px;

}

.teste2 {}

.suporte {
    background: linear-gradient(180deg, #E4ECFF 0%, rgba(244, 247, 255, 0) 100%);

}

.suporte__banner {
    padding: 20px;
    margin: 0px 100px;
    background: url(../assets/Rectangle\ 4215.png) center center no-repeat;
    margin-top: 200px;
    margin-bottom: 200px;
}

.suporte__ab {
    padding-bottom: 100px;
    margin-right: -200px;

}

.suporte__relativo {
    position: relative;
}


.elipse--150 {
    position: absolute;
    top: -200px;
}

.valores {
    background: linear-gradient(334.26deg, rgba(0, 0, 238, 0.18) -7.92%, rgba(0, 0, 238, 0) 37.85%);
}

.valores__titulo {
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;

}

.valores__banner {
    width: 364px;
    height: 630px;
    top: 7955px;
    left: 778px;
    border: 1px solid #cbcbcb;
    border-radius: 25px;
    padding: 0.5rem;

}

.valores__azul {
    background: url(../assets/Rectangle\ 2585.png) center center no-repeat;
    width: 341px;
    height: 157px;
    top: 7965px;
    left: 778px;
    border-radius: 25px;
}

.valores__paragrafo {
    font-family: 'Sora';
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}

.valores__real {
    font-family: 'Sora';
    font-size: 22px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: #0000EE;
    padding-left: 30px;

}

.valores__numero {
    font-family: 'Sora';
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 20px;
}

.valores__mes {
    font-family: 'Sora';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;

}

ul {
    /* display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; */

}

li {
    margin-left: 50px;
    text-align: center;
    list-style: url(../assets/Ellipse\ 1.png)  ;
    width: 341px;;
    list-style-position: initial;
    font-family: Sora;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #8595A6;
    

}

.duvidas {
    background: #F4F7FF;
    padding: 100px ;
}

.duvidas__titulos {
    font-family: Sora;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 500px ;

}

[x-cloak] {
    display: none !important;
}

.duvidas__sanfona {
    border-radius: 20px;
    margin-bottom: 20px;
}

/* rodape */

.rodape {
    padding-top: 20px;
}