body {
font-family: 'Nunito', sans-serif;
}

/*footer*/

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container_imagem img {
    width: 161.49px;
    height: 52px;
    margin-left: 107.71px;
    margin-top: 43.44px;
}

.botao_acessar_conta {
    background: #0000EE;
    color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 199px; 
    margin-top: 19px;
    margin-right: 129px;  
}

/*parte de apresentação*/

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sapium_business {
    color: #0000EE;
}

.botao_comecar_agora {
    background-color: #0000EE;
    color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 199px;
}

.imagens_apresentacao {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
 
.imagen1 {
    width: 396px;
    height: 485px;
}

.imagem2 {
    width: 226px;
    height: 211px;
}
