body {
font-family: 'Nunito', sans-serif;

}

/*footer*/

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container_imagem img {
    width: 161.49px;
    height: 52px;
    margin-left: 107.71px;
    margin-top: 43.44px;
}

.botao_acessar_conta {
    background: #0000EE;
    color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 199px; 
    margin-top: 19px;
    margin-right: 129px;  
}

/*parte de apresentação*/

.apresentacao_capacitacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sapium_business {
    color: #0000EE;
}

.botao_comecar_agora {
    background-color: #0000EE;
    color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 199px;
}

.imagens_apresentacao_capacitacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
 
.imagen1 {

}

.imagem2 {
   
}

.imagem3 {
   
}

.imagem4 {
 
}

.container_apresentacao_divulgacao {
        background-color: #F4F7FF;
        width: 100%;

}

.container_apresentacao_divulgacao li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 1.5% 1.5%;
   padding: 30px 20px;
   box-sizing: border-box;
   border: 3px #000 solid;
   border-radius: 10px;   
}

li {
    background-color: white;
}
  